<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mh5_robot">



    <xacro:macro name="material_ivory">
        <material name="ivory">
            <color rgba="1 1 0.94 1"/>
        </material>
    </xacro:macro>

    <xacro:macro name="material_black">
        <material name="black">
            <color rgba="0.1 0.1 0.1 1"/>
        </material>
    </xacro:macro>

    <link name="base_link"/>

    <link name="chest">
        <visual>
            <origin rpy="0.0 0 ${pi/2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://mh5_description/meshes/chest.stl"/>
            </geometry>
            <xacro:material_ivory/>
        </visual>
        <collision>
            <origin rpy="0.0 0 ${pi/2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://mh5_description/meshes/chest.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.125444"/>
            <inertia ixx="0.000328549" iyy="0.00043996" izz="0.000219472"
                     ixy="0"           ixz="0"          iyz="0.000004439" />
        </inertial>
    </link>

    <joint name="chest_fixed" type="fixed">
        <parent link="base_link"/>
        <child link="chest"/>
        <origin xyz="0 0 0.27225" rpy="0 0 0"/>
    </joint>

    <link name="screen">
        <visual>
            <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://mh5_description/meshes/screen.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.2 0.2 0.9 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://mh5_description/meshes/screen.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.0176"/>
            <inertia ixx="0.000004545" iyy="0.000006293" izz="0.00000182"
                     ixy="0"           ixz="0"          iyz="0" />
        </inertial>
    </link>

    <joint name="screen_fixed" type="fixed">
        <parent link="chest"/>
        <child link="screen"/>
        <origin xyz="0.02935 0 0.05426" rpy="0 0 0"/>
    </joint>

</robot>
