<launch>
    <rosparam file="$(find mh5_controllers)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find mh5_hardware)/config/hardware.yaml" command="load"/>

    <arg name="model" default="$(find mh5_description)/urdf/mh5_robot_revC.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="combo_control_node" pkg="mh5_controllers" type="combo_control_node" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
             dynamixel_state
             dynamixel_control
             torque_control
             communication_statistics
             imu_state
    "/>
</launch>